header{
    background-color: aquamarine;
    height: 200px;
    display: flex;
    width: 500px;
    margin: 5px auto;
    border-radius: 5px;
}
h1{
    margin: auto;
}
#form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px auto;
}
#container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 20px auto;
}
.task_card{
    border: 1px solid ;
    border-radius: 5px;
    margin: 10px auto;
    width:300px;
    padding: 20px;
}

.important{
    
}